.container {
    text-align: center;
    padding-top: 30px;
}

.color {
    height: 50px;
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
}

#cream {
    background-color: wheat;
}

#cream:hover {
    background-color: rgb(189, 172, 140);
}

#green {
    background-color: greenyellow;
}

#green:hover {
    background-color: rgb(77, 151, 67);
    transition: 0.5s;
}

#yellow {
    background-color: yellow;
}

#yellow:hover {
    background-color: rgb(184, 184, 39);
    transition: 0.5s;
}

#aqua {
    background-color: aqua;
}

#aqua:hover {
    background-color: rgb(10, 160, 160);
    transition: 0.5s;
}

#black {
    background-color: black;
}

#black:hover {
    background-color: rgb(44, 44, 44);
    transition: 0.5srgb (39, 37, 37);
}

#output-box {
    height: 200px;
    width: auto;
    margin-top: 40px;
    margin-right: 40%;
    margin-left: 40%;
    border-radius: 10%;
    border: 2px solid black;
}

#color-output-name {
    padding-top: 30px;
}

.color-code-below {
    padding-top: 30px;
}